.cabecalho{ 
    display: flex;
    background-color: rgb(255, 255, 255);
    color: aliceblue;
    justify-content: space-around;
}

.cabecalho-listaa{
     display: flex;
}

.cabecalho-logo{
    display: flex;
}

.lista-item{
    margin-left: 50px;
}
