.cabecalho{ 
    display: flex;
    background-color: rgb(26, 66, 140);
    color: aliceblue;
    justify-content: flex-end;
}

.cabecalho-listaa{
     display: flex;
}

.cabecalho-logo{
    display: flex;
}

.lista-item{
    margin-left: 50px;
}
