body{
    background-color: rgb(11, 58, 138);
}

.cabecalho{ 
    display: flex;
    align-items: center;
    background-color: rgb(16, 44, 104);
    color: aliceblue;
    justify-content: space-around;
}

.cabecalho-listaa{
     display: flex;
     list-style-type:none;
}

.cabecalho-logo{
    display: flex;
}

.lista-item{
    margin-left: 50px;
}
